body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}

#info {
  color: #808080;
  font-family: Monospace;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  z-index: 1;
}

#webgl-secne {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Pointerlock */
#instructions {
  position: absolute;
  font-family: arial;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
